.header{
    height: 12rem;
    background-image: linear-gradient(180deg, #f03b33, #fa653c);
}

.header__navbar{
    display: flex;
    justify-content:space-between;
}

.header__navbar-list{
    display: flex;
    justify-content:space-evenly;
    padding-left:0;
    list-style:none;
    margin-top:4px;
}

.header__navbar-item{
    margin:0 0.8rem;
    position: relative;
    min-height:26px;
}

.header__navbar-item, .header__navbar-item-link{
    display: inline-block;
    font-size:1.4rem;
    color:var(--white-color);
    text-decoration: none;
    font-weight: 300;
}

.header__navbar-item, .header__navbar-item-link, .header__navbar-icon-link{
    display: inline-flex;
    align-items: center;
}
.header__navbar-item:hover, .header__navbar-icon-link:hover, .header__navbar-item-link:hover{
    cursor: pointer;
    color:rgba(255,255,255,0.7);
}
.header__navbar-item--strong{
    font-weight: 500;
}

.header__navbar-item--separate::after
{
    content:"";
    display: block;
    position:absolute;
    border-left:1px solid #fa653c;
    height: 12px;
    top:0;
    right:-8px;
    transform: translateY(56%);
}

.header__navbar-icon-link{
    color:var(--white-color);
    text-decoration: none;
}

.header__navbar-icon{
    font-size: 1.8rem;
    margin:0 8px;
}

.header__navbar-title--no-pointer{
    cursor:text;
    color:var(--white-color);
}



